@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #dadada;
  --dark: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #7c90ff;
    --foreground: #ededed;
  }
}

body {
  color: var(--dark);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.center-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.detail-image {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

.background-modal-header {
  background: #198754 ;
  color: white;
}

button.edit-role {
  width: auto;
  height: 32px; 
  background-color: #FFD700; 
  color: white; 
  font-size: 16px;
  border: none;
  border-radius: 5px; 
  cursor: pointer; 
}

button.edit-role:hover {
  background-color: #FFC107;
}